<div class="r-card" data-section="card">
    <div class="u-maxw">
        <div class="u-content-padded u-relative">
            <div class="r-card__description">
                <div class="r-card__title">Rappresent your life with a
                    simple photo</div>
                <div class="r-card__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    ut aliquip ex ea commodo consequat.</div>
                <div class="r-card__cta r-cta">GET STARTED</div>
            </div>
            <picture class='r-card__image'>
                <!-- iphone 6+ and samsung!-->
                <source media="(-webkit-min-device-pixel-ratio: 3) and (max-width: 767px)" srcset="{{assetFolder}}/images/layout/card.png">
                <!-- iphone 6 and below !-->
                <source media="(-webkit-min-device-pixel-ratio: 2) and (max-width: 767px)" srcset="{{assetFolder}}/images/layout/card.png">
                <!-- android !-->
                <source media="(max-width: 767px)" srcset="{{assetFolder}}/images/layout/card.png">
                <!-- retina !-->
                <source media="(-webkit-min-device-pixel-ratio: 2)" srcset="{{assetFolder}}/images/layout/card.png">
                <!-- everything else !-->
                <img class='r-card__image-element'  srcset="{{assetFolder}}/images/layout/card.png" alt='ALT'>
            </picture>
        </div>
    </div>

</div>
<div class="r-card r-card--right">
    <div class="u-maxw">
        <div class="u-content-padded u-relative">
            <div class="r-card__description">
                <div class="r-card__title">Design</div>
                <div class="r-card__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    ut aliquip ex ea commodo consequat.</div>
                <div class="r-card__cta r-cta">LEARN MORE</div>
            </div>
            <picture class='r-card__image'>
                <!-- iphone 6+ and samsung!-->
                <source media="(-webkit-min-device-pixel-ratio: 3) and (max-width: 767px)" srcset="{{assetFolder}}/images/layout/card-right.png">
                <!-- iphone 6 and below !-->
                <source media="(-webkit-min-device-pixel-ratio: 2) and (max-width: 767px)" srcset="{{assetFolder}}/images/layout/card-right.png">
                <!-- android !-->
                <source media="(max-width: 767px)" srcset="{{assetFolder}}/images/layout/card-right.png">
                <!-- retina !-->
                <source media="(-webkit-min-device-pixel-ratio: 2)" srcset="{{assetFolder}}/images/layout/card-right.png">
                <!-- everything else !-->
                <img class='r-card__image-element'  srcset="{{assetFolder}}/images/layout/card-right.png" alt='ALT'>
            </picture>
        </div>
    </div>
</div>
